<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">WE HEAR YOU</h1>
      <p>A place where <i>we can help</i> you.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" id="nav-online-resources-tab" data-bs-toggle="tab"
                data-bs-target="#nav-online-resources" role="tab" aria-controls="nav-online-resources"
                aria-selected="true">
                Online Resources
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-contact-us-tab" data-bs-toggle="tab" data-bs-target="#nav-contact-us"
                role="tab" aria-controls="nav-contact-us" aria-selected="false">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-contact-me-tab" data-bs-toggle="tab" data-bs-target="#nav-contact-me"
                role="tab" aria-controls="nav-contact-me" aria-selected="false">
                Contact Me
              </a>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane show active" id="nav-online-resources" role="tabpanel"
              aria-labelledby="nav-online-resources-tab">
              <div class="article-page">
                <div class="container page">
                  <div class="row article-content">
                    <div class="col-md-12">
                      Online Resources
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="nav-contact-us" role="tabpanel" aria-labelledby="nav-contact-us-tab">
              <div class="article-page">
                <div class="container page">
                  <div class="row article-content">
                    <div class="col-md-12">
                      Contact Us
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="nav-contact-me" role="tabpanel" aria-labelledby="nav-contact-me-tab">
              <div class="article-page">
                <div class="container page">
                  <div class="row article-content">
                    <div class="col-md-12">
                      Contact Me
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <app-article-list [limit]="10" [config]="listConfig" /> -->
      </div>

      <!-- <div class="col-md-3">
        <div class="sidebar">
          <p> Tags</p>

          <div class="tag-list">
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>